html{
    scroll-behavior: smooth;
}
/*--------------------------------------->Ajuste de wrapper*/
.wrapper{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: wrap;
}

/*-------------------------------------etiquetas generales*/
body{
    font-family: 'Mukta', sans-serif;
    margin: 0;
    background-color: #f4eeff;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Mukta', sans-serif;
    font-weight: normal;
}

h1{
    font-size: 45px;
    line-height: 1.5;
    letter-spacing: -1.2px;
    color: #424874;
    margin: 0;
}

h1 strong{
    color: #2a2d42;
}

h2{
    color: #2a2d42;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

/*-------------------------------------------header*/
.header{
    background-color: #2a2d42;
    color: #f4eeff;
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;    
 }
 
 .menu{
     height: inherit;
     vertical-align: middle;
 }

 .menu a:hover{
     color: #a6b1e1;
 }

.logo{
    margin-left: 20px;
}

header a{
    color: #f4eeff;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

/*-------------------------------Seccion Principal*/
.encabezado{
    height: 300px;    
    background-color: #a6b1e1;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portada_imagen{
    object-fit: cover;
}

/*---------------------------------Seccion ¿quienes somos?*/
.info{
    padding: 20px;
}

.biografia{    
    background-color: #dcd6f7;
    border: 5px double gray;
    box-shadow: 0 0 4px 0 #888888;
    border-radius: 10px; 
    margin-bottom: 15px;       
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bio_details{
    width: 500px;
}

.biografia_title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.biografia_title,
.biografia_date{
    margin: 10px 0;
}

/*---------------------------------seccion productos*/
.productos_encabezado{
    margin-left: 90px;
    margin-top: 30px;
}

.productos_section_title{
    margin-left: 20px;
}

.productos{
    display: flex;
    margin-left: 155px;
}

.product_container{
    margin: 10px;
    width: 400px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #dcd6f7;
    box-shadow: 0 0 4px 0 #888888;
}

.product_container img{
    width: 400px;
    height: 250px;
    object-fit: fill;
}

.producto_imagenContainer{
    width: 500px;
}

.product_detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: #f4eeff;
    position: relative;
    padding: 20px;
    text-align: center;
}

.descripcion_producto{
    text-align: left;
}

.ver_mas{
    color: #424874;
    border: 1px solid;
    padding: 5px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.ver_mas:hover{
    color:  #a6b1e1;
}


/*--------------------------------Seccion contacto y donaciones*/
.contacto{
    background-color: #a6b1e1;
    color: #2a2d42;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.form_email input{
    border-color: gray;
    padding: 10px 20px 10px 25px;
    border-radius: 5px;
    border-style: solid;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form_email button{
    display: block;
    margin-top: 5px;
    background: transparent;
    color: #2a2d42;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    
}

.donar button{
    display: block;
    margin-top: 5px;
    background: transparent;
    color: #2a2d42;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    
}

.botones:hover{
    cursor: pointer;
    background-color: #788ef0;
}

.donar h3{
    margin-bottom: 0;
}

.donar p{
    margin-top: 0;
}

.footer{
    color: #f4eeff;
    background-color: #2a2d42;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer a{
    color: #f4eeff;
}